# EXCLUDE EVERYTHING EXCEPT ASSETS LISTED BELOW
*

# KEEP GLOBAL KIT FILES
!global-kit
!global-kit/**

# KEEP ROOT DEVELOPMENT FILES
!.vscode
!.vscode/**
!.editorconfig
!.gitignore
!.markdownlint-cli2.jsonc
!.prettierignore
!CHANGELOG.md
!LICENSE
!README.md
!eslint.config.js
!lefthook.yml
!package.json
!prettier.config.js
!stylelint.config.js

# KEEP SPECIFIC COLLECTION.MEDIA FILES
!collection.media/
!collection.media/_*.css
!collection.media/_*.woff
!collection.media/_*.woff2
!collection.media/_*.js
