# EXCLUDE EVERYTHING EXCEPT ASSETS LISTED BELOW
*

# KEEP GLOBAL KIT FILES
!global-kit
!global-kit/**

# KEEP ROOT DEVELOPMENT FILES
!.vscode
!.vscode/**
!.gitignore

# KEEP SPECIFIC COLLECTION.MEDIA FILES
!collection.media/
!collection.media/_*.css
!collection.media/_*.woff
!collection.media/_*.woff2
!collection.media/_*.js
