<main class="global-kit-container card-back">
  <h1 class="topic">Topic</h1>

  <section class="answer-container is-primary">
    <div class="question">{{cloze:Cloze Question}}</div>
    <div class="type-hint">{{Type Hint}}</div>
    <div class="columns answers">
      <div class="col box user-answer">
        <div class="title">Your Answer</div>
        <div class="content" data-compare="true"></div>
      </div>
      <div class="col box reference-answer">
        <div class="title">Card's Answer</div>
        <div class="content answer-reference">{{cloze:Cloze Question}}</div>
      </div>
    </div>
  </section>

  <section class="answer-container is-bonus">
    <div class="question">{{Bonus Question}}</div>
    <div class="type-hint">{{Bonus Type Hint}}</div>
    <div class="columns answers">
      <div class="col box user-answer">
        <div class="title"><span>Your</span> Bonus <span>Answer</span></div>
        <div class="content" data-compare="{{Bonus Compare}}"></div>
      </div>
      <div class="col box reference-answer">
        <div class="title">Card's Bonus Answer</div>
        <div class="content answer-reference">{{Bonus Answer}}</div>
      </div>
    </div>
  </section>

  <section class="notes-container">
    <div class="box">
      <div class="title">Notes</div>
      <div class="content">{{Notes}}</div>
    </div>
  </section>
</main>
