.card-formatting-toolbar {
	display: flex;
	align-items: center;
	gap: calc(var(--spacing--default) / 4);
	background-color: var(--bgc--tertiary);
	border: calc(var(--spacing--default) / 24) solid var(--bgc--tertiary);
	border-radius: var(--border-radius--default) var(--border-radius--default) 0 0;
	border-block-end: none;
	margin-inline-start: calc(var(--spacing--default) / 2);
	padding: calc(var(--spacing--default) / 6) var(--spacing--default);
}

.card-formatting-toolbar__button {
	cursor: pointer;
	background-color: var(--bgc--secondary);
	border: calc(var(--spacing--default) / 24) solid var(--bgc--tertiary);
	border-radius: var(--border-radius--default);
	color: var(--color--secondary);
	block-size: calc(var(--spacing--default) * 1.75);
	inline-size: calc(var(--spacing--default) * 1.75);
	min-inline-size: calc(var(--spacing--default) * 1.75);
	margin: 0;
	padding: calc(var(--spacing--default) / 3);
	line-height: 1;

	svg {
		display: block;
		block-size: 100%;
		inline-size: 100%;
	}

	&:hover,
	&:focus-visible {
		background-color: var(--bgc--tertiary);
	}
}

.card-formatting-toolbar + .question-input {
	border-radius: 0 0 6px 6px;
}
